<div class="container">
 
  <h2>Dodaj novog pacijenta</h2>

  <form (ngSubmit)="onFormSubmit()" [formGroup]="pacijentForm">
    <div class="form-group">
      <input type="text" class="form-control col-md-5" id="ime" formControlName='ime' placeholder='Ime' required #spy>
    </div>

    <div class="form-group">
      <input type="text" class="form-control col-md-5" id="prezime" formControlName='prezime' placeholder='Prezime' required #spy>
    </div>

    <div class="form-group">
      <input type="date" class="form-control col-md-5" id="datumRodjenja" formControlName='datumRodjenja' placeholder='Datum rođenja' required #spy>
    </div>

    <div class="form-group">
      <input type="text" class="form-control col-md-5" id="telefon" formControlName='telefon' placeholder="Telefon" required #spy>
    </div>

    <div class="form-group">
      <input type="text" class="form-control col-md-5" id="adresa" formControlName='adresa' placeholder="Adresa" required #spy>
    </div>

    <button type="submit" class="btn btn-primary" >Dodaj</button>
  </form>
  <br/>
  <div class="row" *ngIf="showMsg" (click)="showMsg = false">
      <div class="alert alert-success alert-dissmisible fade show col-md-12" role="alert">
          <strong>Pacijent uspješno dodan!</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
  </div>
</div>